<div class="quizz__container">

  <div class="quizz_logo">
    <img src="assets/imgs/logo.png" alt="" srcset="">
    <h3>{{title}}</h3>
  </div>

  <div *ngIf=!finished class="quizz_questions">
    <div class="transbox">
      <h3 style="color: rgb(0, 92, 31);">{{questionSelected.question}}</h3>
    </div>  
  </div>

  <div *ngIf=!finished class="quizz_options">

    <button
      *ngFor="let option of questionSelected.options; let i = index"
      (click)="playerChoose(option.alias)"
      class="btn-option"
    >
      {{option.name}}
    </button>

  </div>

  <div *ngIf=finished class="quizz_results">
    <div class="results">
      <h1 style="color: black;">O Seu resultado é:</h1>
      <p style="color: black;">{{answerSelected}}</p>
      <button (click)="startQuizz()">
        <img src="../../../assets/imgs/desfazer-seta.png" alt="reiniciar">
      </button>
    </div> 
  </div>
</div>
